*{
    font-family:  Arial, Helvetica, Raleway and Museo;
    font-weight: 400;
  }
  
  
  body{
      overflow-x: hidden;
      margin: 0%;
      padding: 0%;
      background-color: #f1f2f4;
  }
  .nav{
      background-color: #2873f0;
      /* border:solid; */
      height: 45px;
      display: flex;
      padding: 15px 0px 0px 310px;
  }
  .symbol{
      height: 30px;
     
  }
  .search{
      height: 30px;
      width: 260px;   
  }
  .head{
      display: flex;
      padding: 0% 5% 0% 7%;
      border: solid 0.1px rgb(201, 201, 201);
      background-color: white;
  }
  .head img{
      height: 75px;
      margin:0% 4% 0% 0%;
  }
  .user {
    position: relative;
    display: inline-block;
  }
  .drop{
    color: white;
    position: relative;
    top: 8px;
    font-size: 19px;
    margin: 0px 0px 0px 50px;
    font-weight:bolder ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 200px;
  }

  .care{
        margin-inline: 80px;
        background-color: rgb(241,243,246);
  }

  .fare{
        font-size: 12px;
        color: grey;
  }
  
  .side{
        background-color:white;
        max-height: 560px;
        width: 25%;
        font-size: 14px;
        line-height: 1.4;
        padding-left: 25px;
        overflow-x: hidden;
        overflow-y: auto;
        float: left;

  }

  .but{
       background: #fb641b;
       box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
       border: none;
       color: #fff;
       font-size: 14px;
       width: 15%;
       font-family: Roboto,Arial,sans-serif;
       letter-spacing: 0;
       display: inline-block;
       border-radius: 2px;
       padding: 10px 20px;
       font-size: 13px;
       font-weight: 500;
       transition: box-shadow .2s ease;
       vertical-align: super;
       cursor: pointer;
       outline: none;
       box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
       border: 1px solid #e0e0e0;
  }

  .rig{
       background-color: white;
       height: 350px;
       margin: 0px 0px -14px 0px;  
       position: relative;
       left: 350px;
       left:20px;
       width: 72%;
       float: left;
        
       
       
  }
  .rig button{
    margin-left: 90px;
  }
  
  .pep{
    position: relative;
    left: 3%;
    top: 10px;
    color: rgb(145, 145, 145);
    font-size: 12px;
  }

  .pic{
       height: 120px;
       width: 200px;
  }

  .sic{
        background-color: white;
        height: 315px;
        margin: 0px 0px -14px 0px;  
        position: relative;
        left: 350px;
        left:20px;
        width: 72%;
        float: left;
        margin-top: 20px;
        
  }

  .pad{
       padding-left: 15px;
        
  }

  .pex{
       padding-left: 15px;
       font-size: 12px;
       color: rgb(145, 145, 145);
       margin-top: -10px;
  }

 footer{
  
  margin: 0px 0px 0px 0px;
  width: 100%;
  position: relative;
  border: solid 0.1px rgb(201, 201, 201);
  background-color: #172437;
  display: flex;
  height: 250px;
  top: 70px;
  padding: 30px 0px 0px 30px;
  color: white;
  text-decoration: none;
  list-style-type: none;
}
footer a:hover{
  text-decoration: underline;
}

.about a, .help a, .policy a, .social a{
  color: white;
  list-style-type: none;
  text-decoration: none;
  margin-right: 40%;
}
.mail,.office{
  margin: 0px 0px 0px 80px;
}

.rupee{
  font-weight: 600;
}

hr{
   border:solid 1px 0px 0px 0px rgb(255, 252, 252);
}


  
  .dropdown-content a:hover {background-color: #ddd;}
  .user:hover .dropdown-content {display: block;}
  .side dd:hover{
    /* box-shadow: 0px 0px 12px 1px #799fe0 inset; */
    background-color: #bad3ff;
    color: #2873f0;
  }
.side dd{
  height: 30px;
  margin: -20px 0px 0px -10px;
  padding: 10px 0px 0px 40px;
  
}

.flip{
  position: relative;
    left: 3%;
    top: 10px;
}

